@import 'base/normalize';

* {
    box-sizing: border-box;
}

body {
    font: 1em/1.2em 'Raleway', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 8px;
    color: #fff;
    background-color: #7477BF;

    &__appName {
        margin: 0;
        font-weight: 400;
        font-size: 1.1em;
    }
   
    &__right {
        display: flex;
        align-items: center;

        img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }

        h3 {
            margin: 0;
            padding-left: 6px;
            font-weight: 500;
            font-size: .8em;
        }
    }

}

.bell-notifications {
    margin-right: 8px;
    padding-top: 4px;
    padding-right: 6px;
    border-right: 1px solid #4D4C72 ;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #4D4C72;

    a {
        width: 20px;
        height: 20px;    
        margin-left: 12px;
        margin-right: 12px;

        .icons {
            width: 20px;
            height: 20px;
        }
    }
}

.main-container {
    padding-left: 8px;
    padding-right: 8px;
}

.main-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;

    &__headline {
        margin: 0;
        font-size: .9em;
        font-weight: 600;
        color: gray;
    }

    &__search {
        position: relative;

        input {
            justify-content: flex-end;
            width: 150px;
            height: 20px;
            padding: 6px;
            font-size: .6em;
            outline: none;
            border: 1px solid silver;
            border-radius: 3px;
        }

        img {
            position: absolute;
            top: 8px;
            right: 8px;
            width: 8px;
            height: 8px;
        }
    }
}

::placeholder {
    color: silver;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.title {
    font-size: .7em;
    font-weight: 600;
    color: gray;
    text-transform: uppercase;
}

.traffic-header {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;

    h3 {
        margin: 0;
    }

    &__nav {
        margin: 0;
        display: flex;
        font-size: .6em;
        font-weight: 600;
        color: gray;
        list-style: none;

        &-link {
            margin-left: 16px;
        }
    }
}

.social {
    &-card {
        display: flex;
        justify-content: center;
    }

    &-image {
        margin-right: 12px;
    }

    &-text {


        & .title {
            margin: 0;
            color: #7377BF;
            font-size: .8em;
            font-weight: 700;
            text-transform: inherit;
        }
    
        & .numbers {
            margin: 0;
            font-size: 2em;
            font-weight: 300;
            color: gray;
        }
    }

}

.members-container {
    display: grid;
    grid-template-columns: 40px auto 50px;
    align-content: center;
    align-items: center;
    padding: 8px 0;
    font-size: .7em;
    color: gray;
    // border-bottom: 1px solid silver;

    .time {
        margin: 0;
    }
}

.members-text {
    font-size: .9em;
    font-weight: 600;

    > p {
        margin: 0;
        line-height: 1.2em;
    }

    > a {
        text-decoration: none;
        color: #7377BF;
    }
}

.profile-image {
    height: 30px;
    width: 30px;
    margin: 0;
    border-radius: 50%;
    margin-right: 8px;
}

.right-arrow {
    margin: 0;
    text-align: right;

    img {
        width: 12px;
        height: 12px;
    }
}

hr {
    margin: 0;
    height: 1px;
    background-color: #dcdcdc;
    border: none;
}

.widget-container {
    display: flex;
    flex-direction: column;

    .form-field {
        height: 30px;
        padding: 12px;
        font-size: .7em;
        outline: none;
        border: 1px solid gray;
        border-radius: 3px;
    }

    .form-area {
        margin: 12px 0;
        height: 100px;
        padding: 12px;
        font-size: .7em;
        outline: none;
        border: 1px solid gray;
        border-radius: 3px;
    }
}


button {
    height: 35px;
    color: #fff;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: #7477BF;
}

.widget-container-full {
    width: 100%;
}

.widget-container-half {
    width: 50%;
}

.social-image {
    width: 40px;
    height: 40px;
    fill: #7377bf;
}