@import 'base/normalize';

* {
    box-sizing: border-box;
}

body {
    font: 1em/1.2em 'Raleway', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 6px;
    color: #fff;
    background-color: #7477BF;

    &__appName {
        margin: 0;
        font-weight: 400;
        font-size: 1.1em;
    }
   
    &__right {
        display: flex;
        align-items: center;

        img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }

        h3 {
            margin: 0;
            padding-left: 4px;
            font-weight: 500;
            font-size: .8em;
        }
    }

}

.bell-notifications {
    margin-right: 6px;
    padding-top: 4px;
    padding-right: 4px;
    border-right: 1px solid #4D4C72 ;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #4D4C72;

    a {
        width: 20px;
        height: 20px;    
        margin-left: 12px;
        margin-right: 12px;

        .icons {
            width: 20px;
            height: 20px;
        }
    }
}

.icons {
    width: 30px;
    height: 30px;
}

.widget-container-full {
    width: 100%;
}

.widget-container-half {
    width: 50%;
}

.social-image {
    width: 40px;
    height: 40px;
    fill: #7377bf;
}