@mixin fontStyle (
    $size: null,
    $weight: null,
    $height: null,
    $family: null) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    font-family: $family;
};

@mixin flexy (
    $display: flex,
    $justify:null,
    $align: null,
    $direction: null,
    $wrap: null) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
};

@mixin grids (
    $display: grid,
    $t-columns: null,
    $t-rows: null,
    $align: null,
    $gap: null,
    $t-areas: null) {
    display: $display;
    grid-template-columns: $t-columns;
    grid-template-rows: $t-rows;
    align-items: $align;
    grid-column-gap: $gap;
    grid-template-areas: $t-areas;
};

%marginZero {
    margin: 0;
};

@mixin paddings (
    $top: null,
    $right: null,
    $bottom: null,
    $left: null) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left; 
};

@mixin size (
    $w: null,
    $h: null) {
    width: $w;
    height: $h;
};

%calcPaddings {
    @include paddings ($bottom: calc(20px - 12px));
};

@mixin mq($width) {
    @media (min-width: $width) {
      @content;
    };
};