//=================== COLORS =====================//
$color-primary: #7477BF;
$color-secondary: #4D4C72;
$color-accent: #81c98f;
$color-white: #fff;
$color-gray:  gray;
$color-light-gray: #d4d4d4;
$color-silver: silver;
$color-snow: #FBFBFB;
$color-error: #C55267;

//=================== FONTS =====================//
$opensans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$raleway: 'Raleway', sans-serif;

//===================WIDTH=======================//
$tablet: 768px;
$desktop: 1024px;