//=================== COLORS =====================//
$color-primary: #7477BF;
$color-secondary: #4D4C72;
$color-accent: #81c98f;
$color-white: #fff;
$color-gray:  gray;
$color-silver: silver;
$color-snow: #FBFBFB;