button {
    @include fontStyle (.8em, 600);
    @include size ($h: 36px);
    border: none;
    border-radius: 4px;
    color: $color-white;
    text-transform: uppercase;
    background-color: $color-primary;
    cursor: pointer;
}

.settings-button {
    @include grids ($t-columns: repeat(2, 1fr), $gap: 12px);
}

//====================NOTIFICATIONS======================//
.bell {
    @include size (25px, 25px);
    @include paddings (4px, 6px);
    position: relative;
    margin-right: 8px;
    border-right: 1px solid $color-secondary;
    cursor: pointer;
    
    @include mq($tablet) {
        @include paddings (6px, 8px);
        @include size (35px, 35px);
    }
}

.notifications {
    @include fontStyle (.7em);
    @include paddings ($left: 12px, $right: 12px);
    position: absolute;
    left: -22px;
    z-index: 1;
    min-width: 200px;
    color: $color-gray;
    background-color: $color-white;
    border-radius: 4px;
    box-shadow: 0 8px 12px 4px rgba($color-gray, .4);
    display: none;

    &__list {
        @extend %marginZero;
        padding: 0;
        list-style-position: inside;
        list-style-type: circle;
        
        li {
            @include grids ($t-columns: 10% 80% 10%, $align: center);
            justify-items: start;

            &::before {
                @include fontStyle (2em);
                content: '\2022';
                color: $color-accent;
            }

            > p {
                @include paddings ($top: 12px, $bottom: 12px);
                @include fontStyle (12px);
                margin: 0;

            }
        }
    }
}

.notification-close {
    justify-self: end;
}

//====================ALERT======================//
.alert {
    @include fontStyle (.8em);
    @include flexy (flex, space-between);
    margin: 16px 12px 12px 12px;
    padding: 8px;
    border-radius: 4px;
    color: $color-white;
    background-color: $color-primary;

    @include mq($tablet) {
        @include fontStyle (1em);
        margin: 20px 16px 20px 16px;
        padding: 12px;
    }

    > p {
        @extend %marginZero;
    }

    &-banner-close {
        cursor: pointer;
    }
}

//====================SWITCH-LIGHT======================//
.switch-light {
    @include grids ($t-columns: repeat(2, 1fr), $align: center);
    @include fontStyle (.8em);
    color: $color-gray;
}

.switch-ios.switch-light > span {
    @include size ($w: 70px);
}

.switch-ios.switch-light input:checked ~ span {
    box-shadow: inset 0 0 0 30px $color-primary;

    a {
        border-color: $color-primary;
    }
}

.switch-ios.switch-light a {
    border: 0.25em solid #7477bf;
}
