.form-field {
    height: 30px;
    padding-left: 12px;
    font-size: .7em;
    outline: none;
    border: 1px solid $color-silver;
    border-radius: 4px;
    background-color: $color-snow;
}

.form-area{
    margin: 12px 0;
    height: 100px;
    padding: 12px;
    font-size: .7em;
    outline: none;
    border: 1px solid $color-silver;
    border-radius: 4px;
    background-color: $color-snow;
}

#timezone {
    width: 100%;
    margin: 12px 0;
    color: $color-gray;
    background: url('../icons/down-arrow.png') no-repeat 95%/12px;
}