.form-field {
    @include fontStyle (.7em);
    @include size ($h: 30px);
    padding-left: 12px;
    border: 1px solid $color-silver;
    border-radius: 4px;
    outline: none;
    background-color: $color-snow;
}

.form-area{
    @include fontStyle (.7em);
    @include size ($h: 100px);
    margin: 12px 0;
    padding: 12px;
    border: 1px solid $color-silver;
    border-radius: 4px;
    outline: none;
    background-color: $color-snow;
}

//====================TIMEZONE======================//
#timezone {
    @include size (100%);
    margin: 12px 0;
    color: $color-gray;
    background: url('../icons/down-arrow.png') no-repeat 95%/12px;
}

//====================SEARCH======================//
.search {
    position: relative;
    padding: 8px 8px 8px 64px;
    border-left: 1px solid $color-silver;
    border-bottom: 1px solid $color-silver;
    background-color: $color-snow;

    &__box {
        @include fontStyle (.6em);
        @include size (150px, 25px);
        padding: 6px;
        border: 1px solid $color-silver;
        border-radius: 3px;
        outline: none;
    }

    &__icon {
        @include size ( 8px, 8px);
        position: absolute;
        top: 16px;
        right: 16px;
    }
}

