#userField {
    height: 30px;
    padding: 12px;
    font-size: .7em;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
}

.form-area {
    margin: 12px 0;
    height: 100px;
    padding: 12px;
    font-size: .7em;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
}