.nav__icons {
    width: 20px;
    height: 20px;
}

.search__icon {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 8px;
    height: 8px;
}

.right-arrow {
    margin: 0;
    text-align: right;

    img {
        width: 12px;
        height: 12px;
    }
}