.bell {
    margin-right: 8px;
    padding-top: 4px;
    padding-right: 6px;
    border-right: 1px solid #4D4C72 ;
}

.nav__icons {
    width: 20px;
    height: 20px;
}

.search__icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 8px;
    height: 8px;
}

.right-arrow {
    margin: 0;
    text-align: right;

    img {
        width: 12px;
        height: 12px;
    }
}