.profile-img {
    @include size (25px, 25px);
    border-radius: 50%;
}

.members-image {
    @extend %marginZero;
    @include size (30px, 30px);
    border-radius: 50%;
    margin-right: 8px;
}

.google,
.twitter,
.facebook {
    @include size (40px, auto);
}

.social-image {
    @include paddings ($right: 16px);
}