.header {
    @include flexy (flex, space-between, center);
    @include size ($h: 60px);
    padding: 12px;
    color: $color-white;
    background-color: $color-primary;
   
    &__profile {
        @include flexy ($align: center);
    }
}

.main-header {
    @include flexy;
    align-items: center;
}

.traffic-header {
    @include flexy  (flex, space-between);
    @include paddings ($bottom: 8px);
    align-items: center;
    
    & > .title {
        padding: 0;
    }
}

.card {
    padding: 20px 12px 20px 12px;
    border-bottom: 1px solid $color-silver;
}

.social-container {
    @extend %calcPaddings;
}

.members {
    @extend %calcPaddings;

    .title {
        @include paddings ($bottom: calc(16px - 12px));
    }
}

.social-card {
    @include flexy (flex, flex-start, center);
    @include size (200px, 70px);
    padding: 12px;
    margin: auto;
    margin-bottom: 12px;
    border: 1px solid $color-silver;
    border-radius: 4px;
    background-color: $color-snow;
}

.social-stats {
    @include flexy ($direction: column);
}

.members-container {
    @include fontStyle (.7em);
    @include grids ($t-columns: 40px auto 50px, $align: center);
    @include paddings ($top: 12px, $bottom: 12px);
    align-content: center;
    color: $color-gray;

    .time {
        @extend %marginZero;
    }
}

.widget-container {
    @include flexy ($direction: column);
    
    &-full,
    &-half {
        @include size (100%);
    }
}