.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 8px;
    color: $color-white;
    background-color: $color-primary;
   
    &__profile {
        display: flex;
        align-items: center;
    }
}

.main-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.traffic,
.daily,
.mobile-users,
.social-container,
.members,
.message,
.settings {
    padding: 12px 8px 12px 8px;
    border-bottom: 1px solid $color-silver;
}

.traffic-header {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

.social-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 70px;
    padding: 12px;
    margin: auto;
    margin-bottom: 12px;
    border: 1px solid $color-silver;
    border-radius: 4px;
    background-color: $color-snow;
}

.social-stats {
    display: flex;
    flex-direction: column;
}

.members-container {
    display: grid;
    grid-template-columns: 40px auto 50px;
    align-content: center;
    align-items: center;
    padding: 8px 0;
    font-size: .7em;
    color: $color-gray;

    .time {
        margin: 0;
    }
}

.widget-container {
    display: flex;
    flex-direction: column;
    
    &-full,
    &-half {
        width: 100%;
    }
}