.nav {
    @include flexy (flex, center, center);
    background-color: $color-secondary;

    &__links {
        @include size (20px, 20px);
    }
}

.nav-list {
    @extend %marginZero;
    @include flexy;
    list-style-type: none;
    padding: 0;

    li {
        padding: 16px;
        
        &:hover {
            border-bottom: 3px solid greenyellow;
        } 
    }
}

.traffic-nav {
    @include fontStyle (.7em, 500);
    @extend %marginZero;
    @include flexy;
    padding: 0;
    color: $color-gray;
    list-style: none;

    &__link {
        padding: 8px;
        margin-left: 4px;
    }
}