.nav {
    @include flexy (flex, center, center);
    background-color: $color-secondary;

    @include mq($tablet) {
        @include flexy (flex, $align: start);
    }

    &__links {
        @include size (20px, 20px);
    }
}

.nav-list {
    @extend %marginZero;
    @include flexy;
    list-style-type: none;
    padding: 0;   

    @include mq($tablet) {
        @include flexy (flex, $direction: column);
    }

    > li {
        padding: 12px 16px 12px 16px;
        
        @include mq($tablet) {
            padding: 20px;
        }
        
        &:hover {
            border-bottom: 3px solid greenyellow;

            @include mq($tablet) {
                border-bottom: none;
                border-left: 3px solid greenyellow;
            }
        } 
    }
}

.traffic-nav {
    @include fontStyle (.7em, 500);
    @extend %marginZero;
    @include flexy;
    padding: 0;
    color: $color-gray;
    list-style: none;

    @include mq($tablet) {
        @include fontStyle (1em);
    }

    .active {
        background-color: $color-accent;
        color: $color-white;
        border-radius: 20px;
    }

    &__link {
        padding: 2px 12px 2px 12px;
        cursor: pointer;

        @include mq($tablet) {
            padding: 4px 16px 4px 16px;
            margin-left: 12px;
        }
    }
}