.bell {
    position: relative;
    margin-right: 8px;
    padding-top: 4px;
    padding-right: 6px;
    border-right: 1px solid $color-secondary;
}

#badge {
    position: absolute;
    top: 4px;
    left: 10px;
    width: 8px;
    height: 8px;
    border: 1px solid $color-primary;
    border-radius: 50%;
    background-color: $color-accent;
}

.notifications {
    position: absolute;
    left: -30px;
    z-index: 1;
    min-width: 200px;
    padding: 8px;
    font-size: .6em;
    background-color: $color-primary;
    border: 1px solid $color-white;
    display: none;

    &__list {
        margin: 0;
        padding: 0;
        list-style-position: inside;
        list-style-type: circle;
        
        li {
            display: grid;
            align-items: center;
            grid-template-columns: .5fr 3fr 1fr;
            justify-items: start;

            &::before {
                content: '\2022';
                color: $color-accent;
                font-size: 3.5em;
            }
        }
    }
}

.notification-close {
    justify-self: end;
}