.search {
    position: relative;
    padding: 8px 8px 8px 72px;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
    background-color: #FBFBFB;

    &__box {
        width: 150px;
        height: 20px;
        padding: 6px;
        font-size: .6em;
        outline: none;
        border: 1px solid silver;
        border-radius: 3px;
    }
}