* {
    box-sizing: border-box;
}

body {
    font: 1em 'Raleway', sans-serif;
}

::placeholder {
    color: $color-silver;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

hr {
    @extend %marginZero;
    @include size ($h: 1px);
    background-color: #dcdcdc;
    border: none;
}

.form-field {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}