.header__appName {
    @extend %marginZero;
    @include fontStyle (1.5em, 500);
    font-family: 'Raleway', sans-serif;
}

.profile-name {
    @extend %marginZero;
    @include paddings ($left: 6px);
    @include fontStyle (.8em, 400);
}

.main-header__title {
    @extend %marginZero;
    @include paddings ($right: 12px, $left: 12px);
    @include fontStyle (1.1em, 700);
    align-items: center;
    color: $color-gray;
}

.title {
    @extend %marginZero;
    @include paddings ($bottom: 16px);
    @include fontStyle (.8em, 600);
    color: $color-gray;
    text-transform: uppercase;
}

.stats-name {
    @extend %marginZero;
    @include fontStyle (.7em, 700);
    color: $color-primary;
    text-transform: inherit;
}

.stats-num {
    @extend %marginZero;
    font: 300 1.8em/1em 'Open Sans', sans-serif;
    color: $color-gray;
}

.members-info {
    @include fontStyle (.9em, 600);

    > p {
        @extend %marginZero;
        @include fontStyle ($height: 1.2em);
    }

    > a {
        text-decoration: none;
        color: $color-primary;
    }
}