.header__appName {
    @extend %marginZero;
    @include fontStyle (1.5em, 300, $family: $raleway);

    > span {
        @include fontStyle ($weight: 700);
    }

    @include mq {
        @include fontStyle (1.7em);
    }
}

.profile-name {
    @extend %marginZero;
    @include paddings ($left: 6px);
    @include fontStyle (.8em, 500);

    @include mq{
        @include paddings ($left: 8px);
        @include fontStyle (1em);
    }
}

.main-header__title {
    @extend %marginZero;
    @include paddings ($right: 12px, $left: 12px);
    @include fontStyle (1.1em, 700);
    align-items: center;
    color: $color-gray;

    @include mq {
        @include paddings ($right: 16px, $left: 16px);
        @include fontStyle (1.3em);
    }
}

.title {
    @extend %marginZero;
    @include paddings ($bottom: 16px);
    @include fontStyle (.8em, 600);
    color: $color-gray;
    text-transform: uppercase;

    @include mq {
        @include fontStyle (1em);
    }
}

.stats-name {
    @extend %marginZero;
    @include fontStyle (.8em, 700);
    color: $color-primary;
    text-transform: inherit;
}

.stats-num {
    @extend %marginZero;
    font: 300 1.8em/1em $opensans;
    color: $color-gray;
}

.members-info {
    @include fontStyle (1.1em, 500);

    .time {
        @include fontStyle ($size: .9em, $weight: 500, $family: $opensans);
    }

    > p {
        @extend %marginZero;
        @include fontStyle ($height: 1.2em);
    }

    > a {
        text-decoration: none;
        color: $color-primary;
    }
}